*Bag of Words implemented on qid1 and qid2 without applying any feature engineering*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\sneeg\Desktop\Sneegdh\IT - C\7th Sems\Info Retrieval\IR Project\train.csv")

In [5]:
df.sample(7)

,id,qid1,qid2,question1,question2,is_duplicate
28259,28259,52420,51687,Stephen Hsu (physicist): What does Stephen Hsu...,Stephen Hsu (physicist): What does Stephen Hsu...,0
240349,240349,297103,352147,How do I turn off parental control on Netflix?,How do I use parental controls on Directv?,0
310699,310699,434858,434859,"If I had beans on toast for two weeks, would I...","I've been eating under 1200 calories, doing an...",0
79167,79167,134848,134849,How can we get a Bollywood actor/actress's mob...,Do some Bollywood actresses had to have sex wi...,0
239875,239875,351561,351562,Can someone help me to choose between Ricoh th...,What are Harriet Tubman's achievements?,0
41320,41320,74620,74621,Why is sodium hydrogen carbonate soluble in wa...,Why is sodium carbonate soluble in water?,0
304869,304869,261067,428186,What are the strongest majors in terms of job ...,What are the strongest majors in terms of job ...,0

In [7]:
df.shape

(404290, 6)

#### As there are 400K rows, it'll take a lot of time so for the output. Therefore rather than using the 400K rows, I'll randomly select 30K rows.

In [12]:
new_df = df.sample(30000)

In [13]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [14]:
new_df.duplicated().sum()

0

The new dataframe does not have any null values

In [15]:
# Creating a new dataframe having only the questions 1 and 2

ques_df = new_df[['question1', 'question2']]
ques_df.head()

,question1,question2
138476,How do you write out the sound of throat clear...,Why can't one specific Skype contact hear me w...
346090,Is it okay to wash your body after playing bas...,What is more resource expensive for a server m...
383975,What was the Christmas truce?,What happened at the Christmas truce of 1914?
201157,How do I stop the habit of masturbating?,How can I avoid the habit of masturbating?
145579,"If Donald Trump wins, will it mean the FBI had...",What are the advantages of having sexual inter...

In [17]:
# BOW implementation - CountVectorizer library

from sklearn.feature_extraction.text import CountVectorizer
# merge texts - question variable -> list 
questions = list(ques_df['question1']) + list(ques_df['question2'])


# Creating feature from most used 3000 words out of 15-20k
cv = CountVectorizer(max_features = 3000)

# 60K total qts -> split 30K qts for q1 & 30K for q2
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [18]:
# converting into dataframe
temp_df1 = pd.DataFrame(q1_arr, index = ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index = ques_df.index)

# concatenating it
temp_df = pd.concat([temp_df1, temp_df2], axis = 1)
temp_df.shape

(30000, 6000)

6000 features bcoz -> 3000 BOW features in q1 & 3000 in q2

In [19]:
# how the dataset looks like
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
138476,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
346090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
383975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157707,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
321101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119578,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136512,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

So many zeroes - sparse array

In [20]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [21]:
temp_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
138476,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
346090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
383975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
201157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
145579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

#### Applying Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7383333333333333

#### Confusion Matrix for Random Forest model

In [25]:
from sklearn.metrics import confusion_matrix

In [26]:
# for random forest model
confusion_matrix(y_test,y_pred)

array([[3413,  375],
       [1195, 1017]], dtype=int64)

### Applying XgBoost

In [29]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.1-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: scipy in c:\users\sneeg\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in c:\users\sneeg\anaconda3\lib\site-packages (from xgboost) (1.19.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.1

WARNING: You are using pip version 21.2.4; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\users\sneeg\anaconda3\python.exe -m pip install --upgrade pip' command.

In [30]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.723

#### Confusion Matrix for XgBoost

In [31]:
# for XgBoost model
confusion_matrix(y_test,y_pred)

array([[3418,  370],
       [1292,  920]], dtype=int64)